---
import { getCollection } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.score - b.data.score
).slice(0,3);
---

<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">今年是2024年</h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">哦～又是一年～</p>
      </div>
      <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        
        {
            posts.map((post)=>(
            <article class="flex max-w-xl flex-col items-start justify-between">

          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
              <a href={`/blog/${post.slug}/`}>
                <span class="absolute inset-0"></span>
                {
                    post.data.title
                }
              </a>
            </h3>
            <div class="relative mt-8 flex items-center gap-x-4">
            <img src={post.data.heroImage} alt="" class="h-40 w-60">
          </div>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                {
                    post.data.description
                }                </p>
          </div>

          <div class="flex items-center gap-x-4 text-xs">
            <time datetime="2020-03-16" class="text-gray-500">
                <FormattedDate date={post.data.pubDate} />
                </time>
          </div>
        </article>
  
            ))
        }
        
      </div>
    </div>
  </div>
  